@use '../../../../assets/styles/Mixin/mixin_CollapseLog.scss';


.divCollapse {
    // border:1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    
    .collapseClose{
        display: flex;
        align-items: center;
        text-align:left;
        flex-direction: row;
        height: 47px;
        color: var( --ColorTexteTitre);
        justify-content:space-between ;
        padding: 20px;
        border: 1px solid var(--primaryColor);
        background-color: var(--primaryColor);
        border-radius: 10px;
        position: relative;
        z-index : 1;
    }

    .titreh2{
        // border:1px solid rgb(68, 188, 13);
        width: 30%;
        font-size: 22px;
        display: flex;
        float: left;
    }

    .hrefClose{
        // border:1px solid blue;
        width: 100%;
        display:flex;
        position: relative;
        top :1px;
        z-index:1

    }

    .fa_solid{
        // border:1px solid blue;
        width: 5%;
        display: flex;
        position : relative;
        bottom :1px;
        left : 96%;
        color : var(--ColorTexteTitre);
        background-color: var(--primaryColor);
        z-index : 2;
    }

    @include mixin_CollapseLog.divCollapse;
}

.hrefOpen{
    // border:1px solid blue;
    width: 100%;
    display:flex;
    position: relative;
    bottom :56px;
    z-index:1;

    @include mixin_CollapseLog.hrefOpen;
}

.fatrue {
    // border: 1px solid green;
    width: 4%;
    display: flex;
    position : relative;
    left : 97%;
    color : var(--ColorTexteTitre);
    background-color: var(--primaryColor);
    transform: rotate(-180deg);
    z-index : 3;
    @include mixin_CollapseLog.fatrue;
}


   
.annonces {
        
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 20px;
    margin-top: -20px;
    margin-block-end: 20%;
    writing-mode: horizontal-tb;
    color: var(--primaryColor);
    position: relative;
    top:13px;
      @include mixin_CollapseLog.annonces;

        .description {
            // border:1px solid green;
            width:100%;
            display: flex;
            padding: 20px;
            padding-top: 25px;
            margin-top: 30px;
            font-size: 20px;
            vertical-align: middle;
            border:var(--Border-Collapse-Loge);
            background-color: var(--collapseOpenColor);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            position: absolute;
            top:-30px;
            right:0;

            @include mixin_CollapseLog.description;
        }
 
       
}

   
   