@use '../../../../assets/styles/Mixin/mixin_Logement';

.img{
    width: 36px;
    display: flex;
    margin:5px;
        @include mixin_Logement.imgEtoile-Tab-Desk;
   
}

.etoile{
    width: 100%;
    display: flex;
    position: absolute;
    left: 30px;
        @include mixin_Logement.etoile-Tab-Desk;
}

@include mixin_Logement.etoileImg;