@use '../../../../assets/styles/Mixin/mixin_Logement';

.img{
    // border: 1px solid blue;
    width: 36px;
    display: flex;
    margin:5px;

   
}

.etoile{
    width: 100%;
    display: flex;
    position: absolute;
    left: 30px;
}

@include mixin_Logement.etoileImg;