.divCollapse {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;
    
    .collapseClose{
        display: flex;
        align-items: center;
        text-align:left;
        flex-direction: row;
        width: 80%;
        height: 47px;
        color: var( --ColorTexteTitre);
        margin: 20px;
        padding: 20px;
        border: 1px solid var(--primaryColor);
        background-color: var(--primaryColor);
        border-radius: 10px;
        position: relative;
        top:8px;
        z-index : 1;
    }
    .titreh2{
        width: 10%;
        font-size: 24px;
        display: flex;
        float: left;
    }
    .fa_solid{
        width: 2%;
        display: flex;
        position : relative;
        bottom :1px;
        left :126vh;
        color : var(--ColorTexteTitre);
        background-color: var(--primaryColor);
        z-index : 2;

    }
}
    
    .fatrue {
        width: 2%;
        display: flex;
        position : relative;
        bottom :-13px;
        left :139vh;
        color : var(--ColorTexteTitre);
        background-color: var(--primaryColor);
        transform: rotate(-180deg);
        z-index : 3;
       
    }

    .test{
        display:flex;
        position: relative;
        bottom :84px;

    }
    .annonces {
        height: 95%;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        margin-bottom: -10px;
        margin-top: -20px;
        min-height: 110px;
        color: var(--primaryColor);
        background-color: var(--collapseOpenColor);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
     
    
    }

    .description {
        width:70%;
        display: flex;
        position: absolute;
        font-size: 24px;
    }
   