@use '../../assets/styles/Breakpoint';
@use '../../assets/styles/Mixin/mixin_Header';

.header {
    width: 100%;
    height: 140px;
    display: flex;
    align-content: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;

    @include mixin_Header.headerAll;
        
 
//Traitement du logo Kasa    
img {
    width: 210.32px;
    height: 68px;
    left: 100px;
        @include mixin_Header.logo-Header;
    }


.navigation{
    width: 18%;
    height: 34px;
    font-size: 24px;
    padding:20px;
    padding-left: 0px;
    padding-right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 3vh;

      @include mixin_Header.navigation-Header;
      


.accueil{
    display: flex;
    width: 30%;
    position: relative;
    left: 24px;

        @include mixin_Header.accueil;        
}


.apropos {
    width: 100%;
    position: relative;
    text-align: right;
    padding-right: 5px;
    float: left;

        @include mixin_Header.apropos;
}


.accueil, .apropos {
    cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
}
         
}
}

