@use '../../assets/styles/Breakpoint';

.header {
    // border : 1px solid red;
    width: 100%;
    height: 150px;
    display: flex;
    align-content: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;

    @include Breakpoint.breakpoint-desktop-max($break-max:1440px){
       
    }
    @include Breakpoint.breakpoint-mobile-max($break-max:375px){
        height: 93px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;

        @include Breakpoint.breakpoint-mobile-max($break-max:294px){
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
    }
        
    }
 
    
    img {
        // border:1px solid blue;
        width: 210.32px;
        height: 68px;
        left: 100px;
        @include Breakpoint.breakpoint-mobile-max($break-max:375px){
            width: 110px;
            height: 47px;
            // left: 20px;
        }
    }

    .navigation{
        // border : 1px solid red;
        width: 18%;
        height: 34px;
        font-size: 24px;
        padding:20px;
        padding-left: 0px;
        padding-right:0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 3vh;

        @include Breakpoint.breakpoint-mobile-max($break-max:375px){
            width: 100%;
            padding: 0px;
            font-size: 12px;
            top:1vh;
            right:0px;
            text-transform: uppercase;
          
           
        }

            .accueil{
                // border : 1px solid green;
                display: flex;
                width: 30%;
                position: relative;
                left: 24px;
                @include Breakpoint.breakpoint-mobile-max($break-max:375px){
                    width: 70%;
                    // border: 1px solid greenyellow;
                    left: 5px;
                    // padding-left: 10px;
                }
            }
            .apropos {
                // border : 1px solid blue;
                width: 50%;
                padding-left: 36px;
                @include Breakpoint.breakpoint-mobile-max($break-max:375px){
                    // border: 1px solid blue;
                    width: 100%;
                    position: relative;
                    text-align: right;
                    padding-left: 0;
                    float: left;
                   
                }
                @include Breakpoint.breakpoint-mobile-max($break-max:320px){
                    // border: 1px solid blue;
                    // // width: 25%;
                    // position: relative;
                    // padding-left: 0px;
                    // right:-6px;
                   
                }
            }

            .accueil, .apropos {
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
         
    }
}

// @include Breakpoint.breakpoint-mobile-max($break-max:375px){
        
// }