@use '../../assets/styles/Breakpoint';
@use '../../assets/styles/Mixin/mixin_Header';

.header {

    width: 100%;
    height: 140px;
    display: flex;
    align-content: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;

    @include mixin_Header.headerAll;
        
 
//Traitement du logo Kasa    
img {
    width: 210.32px;
    height: 68px;
    left: 100px;
        @include mixin_Header.logo-Header;
    }


.navigation{
    width: 19%;
    height: calc(140px/2);
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: calc((140px/2)/2.5);
    padding-left: 20px;
    padding-right:20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;

      @include mixin_Header.navigation-Header;
      


.accueil{ 
    width: 28%;
    display: flex;
    position: absolute;
    float: right;
    left: 0;

        @include mixin_Header.accueil;        
}
.accueilActive{
   
    width: 28%;
    display: flex;
    position: absolute;
    float: right;
    left: 0;
    text-decoration: underline;

        @include mixin_Header.accueil; 
}


.apropos {
    width: 34%;
    display: flex;
    position: absolute;
    float: left;
    right: 0;

        @include mixin_Header.apropos;
}

.aproposActive{
    width: 34%;
    display: flex;
    position: absolute;
    float: left;
    right: 0;
    text-decoration: underline;
        @include mixin_Header.apropos;
}


.accueil, .apropos {
    cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
}
         
}
}

