@use '../../assets/styles/Mixin/mixin_Content';



.content {

    width: 100%;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    position:relative;

    @include mixin_Content.content-Margin-Body;
 
        .imgHeader{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:-20px;
            @include mixin_Content.imgHeader;
        }

        .HeaderDesk{
            display: flex;
            align-self: center;
            justify-items: center;
            object-fit: cover;
            @include mixin_Content.HeaderDesk;
        }

        .HeaderMob{
            display: none;
            @include mixin_Content.HeaderMob;
        }

        

        .titre {
            font-size: 4rem;
            font-weight: 500;
            color: var(--ColorTexteTitre);
            position: absolute;
            text-align: center;
            @include mixin_Content.titre;
        }

}

