@use '../../assets/styles/Mixin/mixin_Content';
@use '../../assets/styles/Mixin/mixin_Logement';


.content {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    flex : fill;

    @include mixin_Content.content-Margin-Body;
 
        .imgHeader{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .HeaderDesk{
            display: flex;
            align-self: center;
            justify-items: center;
            @include mixin_Content.HeaderDesk;
        }

        .HeaderMob{
            display: none;
            @include mixin_Content.HeaderMob;
        }

        .titre {
            font-size: 4rem;
            font-weight: 500;
            color: var(--ColorTexteTitre);
            position: absolute;
            text-align: center;
            @include mixin_Content.titre;
        }

}
