.tags {
    width: 15%;
    height: 30px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    min-width: 135px;
    padding-top: 10px;
    padding-bottom: 28px;
    border-radius: 10px;
    color: var(--ColorTexteTitre);
    background-color: var(--primaryColor);
    
    
}
