@use '../../../assets/styles/Mixin/mixin_Logement';
@use '../../../assets/styles/Breakpoint';

.Divpresentation {
    // border: 1px solid red;
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top : 40px;
      

    .presentation1 {
        .titre, .sousTitre {
            width: 70%;
        }
        
        .titre{
            font-size: 36px;
            margin-bottom : 15px;
        }
    
        .sousTitre, .hostName{
            font-size: 20px;
        }
    }

   
}

.DivHostEtoile{
    // border: 1px solid blue;
    width: 30%;
    height: 147px;
    display: flex;
    float: right;
    flex-direction: column;
    padding-left:12%;
    position: relative;
    bottom: 144px;

    .presentation2{
        // border:1px solid red; 
        width: 60%;
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
      
    
        .hostName{
            // border: 1px solid green;
            width: 40%;
            font-size: 22px;
            display: flex;
            margin-right: 25%;
            position: absolute;
        }
    
        .host{
            width: 74px;
            height: 74px;
            object-fit: cover;
            border-radius: 50px;
            display: flex;
            position:absolute;
        }
    }
    
    .DivEtoile{
        // border:1px solid green;
        width: 50%;
        display: flex;
        height:66px;
        top:86px;
        right:-2px;
        // left:-625px;
        position: absolute;
     
    }
}



.Divtag{
    // border:1px solid blue;
    width: 75%;
    display: flex;
    position: relative;
        @include mixin_Logement.Divtag;
}

.DivCollapse{
    // border:1px solid blue;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    top:-80px;




    @include mixin_Logement.DivCollapse;

  
}

.DivCollapse1{
    // border:1px solid blue;
    width: 90%;
    position: relative;
    float: left;

   
        .Descri{
            // border:1px solid green;
            width: 95%;
            display: flex;
            float:left;
            @include mixin_Logement.Descri;
        }

    @include mixin_Logement.DivCollapse1;
}

.DivCollapse2{
    // border:1px solid red;
    width: 90%;
    padding: 0;
    position: relative;  
    right: 0px;

        .Equip{
            // border: 1px solid red;
            width: 95%;
            display: flex;
            float:right; 
            
            @include mixin_Logement.Equip;   
        }
    @include mixin_Logement.DivCollapse2;
}
        

 @include mixin_Logement.Divpresentation;

 @include mixin_Logement.DivHostEtoile;