@use '../Breakpoint';



@mixin Divpresentation{
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
       
       .Divpresentation{
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 10px;
        position: relative;
    
        .presentation1{
            .titre,.sousTitre{
                width: 100%;
            }
            .titre{
                font-size: 18px;
                margin-bottom: 2%;
                @include Breakpoint.breakpoint-Mobile($break-min:600px, $break-max:767px){
                    font-size: 22px;
                }
                @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:599px){
                    font-size: 20px;
                }
            }
            .sousTitre{
                font-size: 14px;
                @include Breakpoint.breakpoint-Mobile($break-min:600px, $break-max:767px){
                    font-size: 20px;
                }
                @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:599px){
                    font-size: 18px;
                }
            }
        }

       }
    }
}




@mixin DivHostEtoile{
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        .DivHostEtoile{
            width: 100%;
            height: 40px;
            display: inline-block;
            flex-direction: row;
            margin-top:10px;
            margin-bottom: 20px;
            top:0px;

             .presentation2{
                // border:1px solid blue;
                width: 30%;
                height: 33px;
                flex-direction: column;
                right : 0px;
                
              
                @include Breakpoint.breakpoint-Mobile($break-min:398px, $break-max:767px){
                    width: 31%;
                    height: 43px;

                    @include Breakpoint.breakpoint-Mobile($break-min:600px, $break-max:767px){
                        width: 25%;
                        height: 46px;
                    }
                    @include Breakpoint.breakpoint-Mobile($break-min:400px, $break-max:430px){
                        width: 32%;
                    }
                }
                @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:356px){
                    width: 35%;
                
                }
                
         
                .hostName{
                    width: 30%;
                    font-size: 12px;
                    left:10%;
                  
                    @include Breakpoint.breakpoint-Mobile($break-min:398px, $break-max:767px){
                        font-size: 14px;
                        left:12%;
                    
                        @include Breakpoint.breakpoint-Mobile($break-min:600px, $break-max:767px){
                            font-size: 16px;
                            left:12%
                        }
                        @include Breakpoint.breakpoint-Mobile($break-min:501px, $break-max:599px){
                            font-size: 15px;
                            left:20%
                        }
                        @include Breakpoint.breakpoint-Mobile($break-min:480px, $break-max:500px){
                            left:15%
                        }
                        @include Breakpoint.breakpoint-Mobile($break-min:400px, $break-max:430px){
                            left:0%
                        }
                    }
                    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:340px){
                        left:5%;
                    
                    }
                    
                   
                 
                }
                .host{
                    width: 32px;
                    height: 32px;
                    float:right;
                    margin-left: 65%;

                    @include Breakpoint.breakpoint-Mobile($break-min:398px, $break-max:767px){
                        width: 42px;
                        height: 42px;

                        @include Breakpoint.breakpoint-Mobile($break-min:600px, $break-max:767px){
                            width: 45px;
                            height: 45px;
                            margin-left: 65%;
                        }
                        @include Breakpoint.breakpoint-Mobile($break-min:501px, $break-max:599px){
                            margin-left: 71%;
                        }
                        @include Breakpoint.breakpoint-Mobile($break-min:480px, $break-max:500px){
                            margin-left: 68%;
                        }
                        
                    }
                    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:340px){
                        margin-left: 65%;
                    
                    }
                    
                }
        }

        .DivEtoile{
            // border:1px solid blue;
            width: 35%;
            height: 30px;
            left:0px;
            top:5px;
            @include Breakpoint.breakpoint-Mobile($break-min:600px, $break-max:767px){
                width: 25%;
            }
            @include Breakpoint.breakpoint-Mobile($break-min:400px, $break-max:599px){
                width: 30%;

            }

        }


        }
       

    }
    
}

@mixin etoileImg{
   
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
       .img{
            width: 15%;
            margin: 2px; 
       }

       .etoile{
            left:0;
       }
        
    }
}

@mixin Divtag{
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        // border:1px solid blue;
        width: 100%;
        height: auto;
        top: 0px;
        margin-block-end: 3%;
        writing-mode: horizontal-tb;

    }
}


@mixin  tag {
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
    flex-direction: row;
    flex-grow: 1;
    font-size: 12px;
    height: 18px;
    width: 30%;
    padding-top: 5px;
    padding-bottom:18px;
    border-radius: 7px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 5px;
        
    @include Breakpoint.breakpoint-Mobile($break-min:501px, $break-max:767px){
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:500px){
        width: 35%;
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 20px;
    }
    @include Breakpoint.breakpoint-Mobile($break-min:380px, $break-max:424px){
        width: 38%;
        border-radius: 5px;
    }
   
    @include Breakpoint.breakpoint-Mobile($break-min:300px, $break-max:379px){
        width: 44%;
        border-radius: 5px;
    }
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:299px){
        width: 45%;
        border-radius: 5px;
    }
    }
    
    
}





@mixin DivCollapse{
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        // border: 1px solid red;
        flex-direction: column;
        top: 0px;
       
       
    }
}

@mixin DivCollapse1 {
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        // border:1px solid green;
        width: 100%; 
        margin-block-end: 25px;
        writing-mode: horizontal-tb;     
    }
    
}


@mixin Descri{
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        width: 100%; 
        position: relative;
    }
        
    
}

@mixin DivCollapse2 {
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
    // border:1px solid red;
    width: 100%;
    
    }
    
}

@mixin Equip {
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        width: 100%;
        margin-block-end: 10%;
        writing-mode: horizontal-tb;

    }
       

}
