@use '../Breakpoint';

@mixin divCollapse{
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        // border: 1px solid pink;
       
        .collapseClose{
            // border: 1px solid blue;
            height: 29px;
            padding: 10px;
            border-radius: 5px;

            @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:767px){
                height: 40px;
              
            }
        }

        .titreh2{
            font-size: 13px;
            @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:767px){
                font-size: 16px;
                padding: 10px;
            }
            
        }
        .hrefClose{
            // border: 1px solid green;
            top:0;
        }

        .fa_solid{
            @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:767px){
                left:93.5%;
                width: 6%;
            }
            @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:424px){
                left:93%;
                width: 6%;
              
            }

        }
    }
}

@mixin hrefOpen{
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        bottom: 50px;
    }
    
}


@mixin fatrue{

    @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:767px){
        top:21px;
        left:93%;
        width: 5%;
    }
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:424px){
        // border: 1px solid orange;
        top: 35px;
        left:92%;
        width: 5%;
    }
}

@mixin annonces{

    @include Breakpoint.breakpoint-Desktop($break-min:1381px, $break-max:1919px){
        // border: green 1px solid;
        margin-block-end: 30%;
        writing-mode: horizontal-tb;
    }
    @include Breakpoint.breakpoint-Desktop($break-min:1201px, $break-max:1380px){
        // border: green 1px solid;
        margin-block-end: 35%;
        writing-mode: horizontal-tb;
    }
    @include Breakpoint.breakpoint-Desktop($break-min:1071px, $break-max:1200px){
        // border: green 1px solid;
        margin-block-end: 38%;
        writing-mode: horizontal-tb;
    }
    @include Breakpoint.breakpoint-Desktop($break-min:992px, $break-max:1070px){
        // border: green 1px solid;
        margin-block-end: 45%;
        writing-mode: horizontal-tb;
    }
    
    @include Breakpoint.breakpoint-Tablette($break-min:768px, $break-max:991px){
        // border: green 1px solid;
        margin-block-end: 55%;
        writing-mode: horizontal-tb;

        @include Breakpoint.breakpoint-Tablette($break-min:860px, $break-max:991px){
            // border: green 1px solid;
            margin-block-end: 45%;
            writing-mode: horizontal-tb;
        }
    }

    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        //  border: 1px solid black;
        height: 182px;
        padding: 0;
        padding-bottom: 0;
        margin-block-end: 0%;
        writing-mode: horizontal-tb;
        border:var(--Border-Collapse-Loge);
        background-color: var(--collapseOpenColor);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        top:12px;
        
        @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:767px){
            // border: green 1px solid;
            height: 199px;

            @include Breakpoint.breakpoint-Mobile($break-min:600px, $break-max:767px){
                height: 220px;
            }
        }

        
    }
 
}

@mixin description{

    
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:767px){
        // border: green 1px solid;
        width: 100%;
        font-size:12px;
        padding-top: 15px;
        border:none;
        background-color: transparent;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        top:-25px;

        @include Breakpoint.breakpoint-Mobile($break-min:600px, $break-max:767px){
            font-size:16px;
            padding-bottom: 20px;
        }
        @include Breakpoint.breakpoint-Mobile($break-min:425px, $break-max:599px){
            font-size:14px;
        }
    }

}



