@use '../Breakpoint';


@mixin picturesImg{

        //Media Queries Desktop
        @include Breakpoint.breakpoint-Desktop($break-min:992px,$break-max:1779px){
            height: 415px; 
        }
        
        //Media Queries Mobiles
        @include Breakpoint.breakpoint-Tablette($break-min:0px, $break-max:767px){
          
            @include Breakpoint.breakpoint-Mobile($break-min:501px, $break-max:767px){
                height: 280px;
            }
            @include Breakpoint.breakpoint-Mobile($break-min:375px, $break-max:500px){
               height: 255px;
            }
            @include Breakpoint.breakpoint-mobile-max($break-max:374px){
                height: 240px;
                top:-20px;
            }
        }
}

@mixin pictures{

    @include Breakpoint.breakpoint($break-min:0px, $break-max:767px){
       border-radius: 10px;
    }
}

@mixin fleches-Gauche-Droite{
     //Intermédiaire
     @include Breakpoint.breakpoint($break-min:0px, $break-max:767px){
        width: 7%;
        height: 5%;
     }

    //Media queries Mobile 
    @include Breakpoint.breakpoint-Mobile($break-min:501px, $break-max:767px){
        // width: 44px;
        // height: 44px;
        top:30%;
    }
    @include Breakpoint.breakpoint-Mobile($break-min:426px, $break-max:500px){
        // width: 44px;
        // height: 44px;
        top:25%;
    }
    @include Breakpoint.breakpoint-Mobile($break-min:375px, $break-max:425px){
        @include Breakpoint.breakpoint;
        top:24%;
    }
    @include Breakpoint.breakpoint-mobile-max($break-max:374px){
        @include Breakpoint.breakpoint;
        top:23%;
    }
}

@mixin fleche-gauche {
    //  Media queries Mobile 
    // @include Breakpoint.breakpoint-Mobile($break-min:501px, $break-max:767px){
    //     left:10px;
    // }
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:363px){
        left: 7%; 
    }
}

@mixin fleche-droite {
     //Media queries Mobile 
    // @include Breakpoint.breakpoint-Mobile($break-min:501px, $break-max:767px){
    //     right: 10px;
    // }
    @include Breakpoint.breakpoint-Mobile($break-min:0px, $break-max:363px){
        right: 7%; 
    }
}