@use '../../../../assets/styles/Mixin/mixin_Gallery.scss';
@use '../../../../assets/styles/Breakpoint';

main{
    @include mixin_Gallery.mainHeight-Logement-Galery;
}

.pictures, .img{
    width: 100%;
    height: 550px;
        @include mixin_Gallery.picturesImg;
}

.pictures{
    border-radius: 25px;
    overflow: hidden;
        @include mixin_Gallery.pictures;
      
        .numero{
            width: 100%;
            font-size: 24px;
            color:var( --ColorTexteTitre);
            display: flex;
            justify-content: center;
            position: relative;
            bottom:50px;
            z-index: 2;

            @include Breakpoint.breakpoint-mobile-max($break-max:767px){
                display: none;
            }
        }
        
}

.img{
    object-fit: cover;
}
    
.flecheDroite, .flecheGauche{
    width: 120px;
    height: 150px;
    display: flex;
    position: absolute;
    top:calc(-555px/10);
    z-index: 1;
        &:hover{
            cursor: pointer;
        }
        @include mixin_Gallery.fleches-Gauche-Droite;
}

.flecheGauche {
    left: 20px; 
        @include mixin_Gallery.fleche-gauche;
}

.flecheDroite {
    right: 20px;
    @include mixin_Gallery.fleche-droite;
}

       




